@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --first-gradient-start: 80%;
  --second-gradient-start: 20%;
  --clr-neon: #7b53d3;

  /* 303a75 */
}

@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Fira+Code&family=Fira+Mono&family=Fira+Sans&family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@400;600&display=swap');

@media (max-width: 768px) {
  :root {
    --first-gradient-start: 60%;
    --second-gradient-start: 40%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* #181622  */
  /* background: linear-gradient(to right top, #111018 60%, #060c8c 150%); */
  /* background: linear-gradient(to right top, #111018 60%, #090d5e 150%);

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */

  background-color: #111018;

  /* background-color: #000000; */
}

/* body::-webkit-scrollbar {
  display: none;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.navbar {
  background-color: rgb(0 0 0 / 0);
  /* padding-top: 20px; */
  transform: translateY(20px);
  /* margin-top: 20px; */
  border-bottom-width: 1px;
  border-color: transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease, transform,
    0.3s ease, margin-top 0.3s ease;
}

.navbar.sticking {
  background-color: rgb(0 0 0 / 0.35);
  /* padding-top: 0; */
  transform: translateY(0);
  /* margin-top: 0; */
  border-color: rgb(31 41 55 / 1);
}

.navList {
  font-family: 'Inter', sans-serif, 'Poppins', sans-serif, 'Commissioner',
    sans-serif, 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

  /* font-size: 14px;
  line-height: 1.25rem ; */
}

.neon-button {
  font-family: 'Inter', sans-serif, 'Poppins', sans-serif, 'Commissioner',
    sans-serif, 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  font-size: 0.875rem;
  font-weight: 600;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.35em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: var(--clr-neon);
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.svg_1-perspective {
  transform: perspective(20em) rotateY(-10deg) rotateX(20deg);
}

.svg-animation {
  /* color: green; */
  stroke-dasharray: 1045.3275146484375;
  stroke-dashoffset: 1045.3275146484375;
  animation: totalAnimation 10s ease infinite;
}

@keyframes totalAnimation {
  0% {
    stroke-dashoffset: 1045.3275146484375;
    /* fill-opacity: 0; */
    fill: transparent;
  }

  20% {
    stroke-dashoffset: 0;
    /* fill-opacity: 0; */
    fill: transparent;
  }

  50% {
    stroke-dashoffset: 0;
    /* fill-opacity: 100; */
    fill: currentColor;
  }

  80% {
    stroke-dashoffset: 0;
    /* fill-opacity: 0; */
    fill: transparent;
  }

  100% {
    stroke-dashoffset: 1045.3275146484375;
    /* fill-opacity: 0; */
    fill: transparent;
  }
}

@keyframes fillAnimation {
  0% {
    fill: none;
  }
  100% {
    fill: currentColor;
  }
}

.neon-button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: rgb(30 41 59);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

.rising-text {
  --text-color: red;
  position: relative;
  cursor: pointer;
}

.rising-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;

  color: var(--text-color);

  opacity: 0;
}

.rising-text:hover {
  color: var(--text-color);
}

.rising-text:hover::after {
  animation: text-rises 1s ease-out forwards;
}

@keyframes text-rises {
  0% {
    opacity: 0.7;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.neon-text {
  font-size: 4rem;
  cursor: pointer;
  /* padding: 0 20px; */
  position: relative;
  color: #00e0f4;
  /* text-shadow: 0 0 0.1em rgb(194, 97, 254); */
}

.neon-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  /* padding: 0 20px; */
  z-index: -1;
  color: rgb(194 97 254 / 0.5);
  filter: blur(15px);
  opacity: 1;
  transition: opacity ease 300ms;
}

.neon-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 97, 254, 0.5);
  opacity: 0;
  filter: blur(15px);
  transition: opacity ease 300ms;
}

.neon-text:hover {
  color: rgb(194, 97, 254);
  text-shadow: 0 0 0.25em rgb(194, 97, 254);
}

.neon-text:hover::after,
.neon-text:hover::before {
  opacity: 1;
}

.card-text {
  position: relative;
}

.card-text::before,
.card-text::after {
  content: attr(data-name);
  color: #a1a0ab;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
}

.card-text::before {
  -webkit-clip-path: polygon(55% 0, 0 0, 0 100%, 35% 100%);
  clip-path: polygon(55% 0, 0 0, 0 100%, 35% 100%);
  /* background: red; */
}

.card-text::after {
  -webkit-clip-path: polygon(55% 0, 100% 0, 100% 100%, 35% 100%);
  clip-path: polygon(55% 0, 100% 0, 100% 100%, 35% 100%);
  /* background: blue; */
}

.card-text.broken::before {
  top: -3px;
  left: -7px;
  transform: rotate(-3deg);
}

.card-text.broken::after {
  top: 3px;
  left: 7px;
  transform: rotate(3deg);
}

.card-shadow {
  box-shadow: rgba(23, 92, 230, 0.2) 0px 4px 24px 0px;
}

.card-shadow:hover {
  box-shadow: rgba(23, 92, 230, 0.5) 0px 4px 24px 0px;
}

.toolset-text-gradient {
  background: rgb(241, 245, 249);
  background: linear-gradient(
    90deg,
    rgba(241, 245, 249, 1) 0%,
    rgba(203, 213, 225, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.my-element {
  --first: conic-gradient(from 90deg at 80% 50%, #000212, #c261fe);
  --second: conic-gradient(from 270deg at 20% 50%, #c261fe, #000212);
  background: var(--first), var(--second);

  transform: translateY(-200px) rotate(180deg) scale(0.5) translateZ(0px);
}

.light-bar-left {
  opacity: 0.4;

  width: 50%;
  height: 400px;
  --first: conic-gradient(from 90deg at 80% 50%, #000212, #c261fe);
  --second: conic-gradient(from 270deg at 20% 50%, #c261fe, #000212);
  background: var(--first), var(--second);

  transform: rotate(180deg) translateZ(0px);
}

.light-bar-right {
  opacity: 0.4;
  width: 100%;
  height: 400px;
  --first: conic-gradient(from 90deg at 80% 50%, #000212, #c261fe);
  --second: conic-gradient(from 270deg at 20% 50%, #c261fe, #000212);
  background: conic-gradient(from 90deg at 80% 50%, #000212, #c261fe) no-repeat
      border-box,
    conic-gradient(from 270deg at 20% 50%, #c261fe, #000212) no-repeat
      border-box;

  transform: rotate(180deg) translateZ(0px);
}

.test-conic {
  width: 100%;
  height: 400px;
  z-index: -1;
  margin-top: -150px;
  margin-bottom: -100px;
  /* background: conic-gradient(from 90deg, red, blue) no-repeat,
    conic-gradient(from 270deg, red, blue) no-repeat; */
  /* background-size: 50% 100%, 50% 100%;
  background-position: 0 0, 50% 0; */

  --first: conic-gradient(from 90deg at 80% 50%, #000212, #c261fe);
  --second: conic-gradient(from 270deg at 20% 50%, #c261fe, #000212);
  background: conic-gradient(from 90deg at 80% 50%, #000212, #352a4f) no-repeat
      border-box,
    conic-gradient(from 270deg at 20% 50%, #352a4f, #000212) no-repeat
      border-box;

  /* -webkit-mask-image: radial-gradient(
    100% 50% at center center,
    black,
    transparent
  ); */

  mask-image: radial-gradient(100% 50% at center center, black, transparent);

  background-position-x: 1%, 99%;
  background-position-y: 0%, 0%;
  background-size: 50% 100%, 50% 100%;
  transform-origin: center center;
  background-repeat: no-repeat;

  transform: rotate(180deg) translateZ(0px);
  opacity: 0.4;

  /* background: conic-gradient(from 90deg, red, blue); */
  /* background: conic-gradient(
    from 90deg at 80% 50%,
    var(#000212) 0%,
    var(#c261fe) 50%,
    var(#000212) 100%,
    from 270deg at 20% 50%,
    var(#c261fe) 0%,
    var(#000212) 50%,
    var(#c261fe) 100%
  ); */
}

.test-conic.some-other-class {
  /* opacity: 1;
  transform-origin: center center;
  transform: scale(2) rotate(180deg) translateZ(0px); */
}

.frontend-lightbar {
  position: relative;
  max-width: 100%;
  height: 400px;
  margin-bottom: -200px;

  --first: conic-gradient(from 90deg at 80% 50%, #000212, #352a4f);
  --second: conic-gradient(from 270deg at 20% 50%, #463077, #000212);
  background: conic-gradient(
      from 90deg at var(--first-gradient-start) 50%,
      #000212,
      #463077
    ),
    conic-gradient(
      from 270deg at var(--second-gradient-start) 50%,
      #463077,
      #000212
    );

  -webkit-mask-image: radial-gradient(
    100% 50% at center center,
    black,
    transparent
  );

  background-position-x: 1%, 99%;
  background-position-y: 0%, 0%;
  background-size: 50% 100%, 50% 100%;
  transform-origin: center center;
  background-repeat: no-repeat;

  transform: rotate(180deg) translateZ(0px);
  opacity: 0.4;

  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 1000ms;
}

.frontend-lightbar.visible {
  opacity: 1;
  transform-origin: center center;
  transform: scale(2) rotate(180deg) translateZ(0px);
}

.frontend-lightbar::after {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 0.1;
  -webkit-mask-image: radial-gradient(
    140px 50% at 50% 100%,
    black,
    transparent
  );
}

.frontend-main {
  /* margin-bottom: 300px; */
  padding-top: 180px;
  position: relative;

  height: max-content;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
  /* background-color: red; */
}

.frontend-main::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    rgba(194, 97, 254, 0.1),
    transparent
  );
  opacity: 0;
  transition: opacity 1s ease;
}

.frontend-main.visible::before {
  opacity: 1;
}

.frontend-main::after {
  content: '';
  z-index: -1;
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 0%;
  overflow: hidden;
  opacity: 0;
  -webkit-mask-image: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    black,
    transparent
  );
  transition: opacity 1s ease;
}

.frontend-main.visible::after {
  opacity: 0.1;
}

.frontend-content {
  /* padding-top: 0;
  transition: padding 1s ease; */
  /* margin-top: 40px; */
}

/* .frontend-content.visible {
  padding-top: 64px;
} */

.frontend-tools {
  /* filter: url(#noiseFilter); */
  position: relative;
}

.frontend-tile-section {
  position: relative;

  /* max-width: 56rem; */
  /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
  /* max-width: 72rem; */
  /* grid-template-columns: repeat(6, minmax(0, 1fr)); */

  /* -webkit-mask-image: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0)
  );
  
  transition: mask-image 1s ease; */

  /* mask: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0)
  ); */
}

/* .frontend-tile-section::after {
  content: '';
  position: absolute;
  inset: 0px 0px 0%;
  z-index: 100;
  mask: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0)
  );

  transition: -webkit-mask-image 1s ease;
} */

/* .frontend-tile-section.visible {
  -webkit-mask-image: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 1)
  );
} */

.frontend-heading {
  color: #c262fe;
  transition: transform 1s ease, filter 1s ease, opacity 1s ease;
  filter: blur(5px);
}

.frontend-heading-bottom {
}

.frontend-heading.visible {
  opacity: 0.8;
  transform: translateY(0%) !important;
  filter: blur(0px);
}

/* .frontend-card {
  --step: 5%;
  --bg-y: 62%;
  --bg-x: 60%;
  --m-x: 92%;
  --m-y: 88%;
  box-shadow: rgba(194, 97, 254, 0.2) 0px 4px 24px 0px;
  transition: box-shadow 0.4s ease;
  border-color: #8643b088;
  filter: blur(0px);
  transform-style: preserve-3d;
  perspective: 1000px;

  background: repeating-linear-gradient(
      0deg,
      rgb(255, 119, 115) calc(var(--step) * 1),
      rgba(255, 237, 95, 1) calc(var(--step) * 2),
      rgba(168, 255, 95, 1) calc(var(--step) * 3),
      rgba(131, 255, 247, 1) calc(var(--step) * 4),
      rgba(120, 148, 255, 1) calc(var(--step) * 5),
      rgb(216, 117, 255) calc(var(--step) * 6),
      rgb(255, 119, 115) calc(var(--step) * 7)
    )
    0% var(--bg-y) / 200% 700%;

  background: repeating-linear-gradient(
      128deg,
      #0e152e 0%,
      hsl(180, 10%, 60%) 3.8%,
      hsl(180, 10%, 60%) 4.5%,
      hsl(180, 10%, 60%) 5.2%,
      #0e152e 10%,
      #0e152e 12%
    )
    var(--bg-x) var(--bg-y) / 300%;

  background: radial-gradient(
      farthest-corner circle at var(--m-x) var(--m-y),
      rgba(255, 255, 255, 0.1) 12%,
      rgba(255, 255, 255, 0.15) 20%,
      rgba(255, 255, 255, 0.25) 120%
    )
    var(--bg-x) var(--bg-y) / 300%;

  background: repeating-linear-gradient(
        0deg,
        rgb(255, 119, 115) calc(var(--step) * 1),
        rgba(255, 237, 95, 1) calc(var(--step) * 2),
        rgba(168, 255, 95, 1) calc(var(--step) * 3),
        rgba(131, 255, 247, 1) calc(var(--step) * 4),
        rgba(120, 148, 255, 1) calc(var(--step) * 5),
        rgb(216, 117, 255) calc(var(--step) * 6),
        rgb(255, 119, 115) calc(var(--step) * 7)
      )
      0% var(--bg-y) / 200% 700%,
    repeating-linear-gradient(
        128deg,
        #0e152e 0%,
        hsl(180, 10%, 60%) 3.8%,
        hsl(180, 10%, 60%) 4.5%,
        hsl(180, 10%, 60%) 5.2%,
        #0e152e 10%,
        #0e152e 12%
      )
      var(--bg-x) var(--bg-y) / 300%,
    radial-gradient(
        farthest-corner circle at var(--m-x) var(--m-y),
        rgba(255, 255, 255, 0.1) 12%,
        rgba(255, 255, 255, 0.15) 20%,
        rgba(255, 255, 255, 0.25) 120%
      )
      var(--bg-x) var(--bg-y) / 300%;

  background-blend-mode: hue, hue, hard-light, overlay;
} */

.frontend-card {
  --step: 5%;
  --bg-y: 62%;
  --bg-x: 60%;
  --m-x: 92%;
  --m-y: 88%;
  box-shadow: rgba(194, 97, 254, 0.2) 0px 4px 10px 0px;
  transition: box-shadow 0.4s ease;
  border-color: #8643b088;
  filter: blur(0px);
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: translateY(30px);
}

.js-tilt-glare {
  /* background-color: rgba(194, 97, 254, 0.1); */
}

.frontend-card > * {
  /* transform: translateZ(50px); */
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px black;
}

.frontend-card:hover {
  box-shadow: rgba(194, 97, 254, 0.5) 0px 4px 24px 0px;
  /* transform: scale(1.2); */
}

.frontend-card-heading {
  color: #ac55e0;
}

.frontend-canvas-gradient {
  /* background: rgb(194, 97, 254); */
  /* background: radial-gradient(
    at top left,
    rgba(194, 97, 254, 0.2) 0%,
    rgba(194, 97, 254, 0) 60%
  );
  background-position: -100% 0; */
}

/* .frontend-tools::after {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 1;
} */

/* .frontend-main::after {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 1;
  -webkit-mask-image: radial-gradient(
    140px 50% at 50% 100%,
    black,
    transparent
  );
} */

/* .frontend-main::before {
  content: '';
  background: #f00;
  filter: url(#noiseFilter);
} */

/* .frontend-main::after {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 0.1;
  -webkit-mask-image: radial-gradient(
    140px 50% at 50% 100%,
    black,
    transparent
  );
} */

.backend-lightbar {
  position: relative;
  max-width: 100%;
  height: 400px;
  z-index: -10;
  /* margin-top: -150px; */
  margin-bottom: -200px;

  --first: conic-gradient(from 90deg at 80% 50%, #000212, #352a4f);
  --second: conic-gradient(from 270deg at 20% 50%, #463077, #000212);
  background: conic-gradient(
      from 90deg at var(--first-gradient-start) 50%,
      #000212,
      #303a75
    ),
    conic-gradient(
      from 270deg at var(--second-gradient-start) 50%,
      #303a75,
      #000212
    );

  -webkit-mask-image: radial-gradient(
    100% 50% at center center,
    black,
    transparent
  );

  background-position-x: 1%, 99%;
  background-position-y: 0%, 0%;
  background-size: 50% 100%, 50% 100%;
  transform-origin: center center;
  background-repeat: no-repeat;

  transform: rotate(180deg) translateZ(0px);
  opacity: 0.4;

  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 1000ms;
}

.backend-lightbar.visible {
  opacity: 1;
  transform-origin: center center;
  transform: scale(2) rotate(180deg) translateZ(0px);
}

.backend-lightbar::after {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 0.1;
  -webkit-mask-image: radial-gradient(
    140px 50% at 50% 100%,
    black,
    transparent
  );
}

.backend-main {
  padding-top: 180px;
  position: relative;

  height: max-content;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

.backend-main::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    rgba(40, 87, 255, 0.1),
    transparent
  );
  opacity: 0;
  transition: opacity 1s ease;
}

.backend-main.visible::before {
  opacity: 1;
}

.backend-main::after {
  content: '';
  z-index: -1;
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 0%;
  overflow: hidden;
  opacity: 0;
  -webkit-mask-image: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    black,
    transparent
  );
  transition: opacity 1s ease;
}

.backend-main.visible::after {
  opacity: 0.1;
}

.backend-tools {
  /* filter: url(#noiseFilter); */
  position: relative;
}

.backend-tile-section {
  position: relative;
  /* max-width: 72rem; */
  /* grid-template-columns: repeat(6, minmax(0, 1fr)); */
}

/* .backend-tile-section::after {
  content: '';
  position: absolute;
  inset: 0px 0px 0%;
  z-index: 100;
  mask: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0)
  );

  transition: -webkit-mask-image 1s ease;
} */

/* .backend-tile-section.visible {
  -webkit-mask-image: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 1)
  );
} */

.backend-heading {
  color: #5a82f9;
  transition: transform 1s ease, filter 1s ease, opacity 1s ease;
  filter: blur(5px);
}

.backend-heading-bottom {
}

.backend-heading.visible {
  opacity: 0.8;
  transform: translateY(0%) !important;
  filter: blur(0px);
}

.backend-card {
  box-shadow: rgba(90, 131, 249, 0.2) 0px 4px 24px 0px;
  transition: box-shadow 0.4s ease;
  border-color: #5a83f933;
  transform: translateY(30px);
}

.backend-card:hover {
  box-shadow: rgba(90, 131, 249, 0.5) 0px 4px 24px 0px;
}

.backend-card-heading {
  color: #5a82f9;
  /* color: rgb(40, 87, 255);
  color: rgb(140, 174, 242); */
  /* 90 131 249*/
}

/* devops */

.devops-lightbar {
  position: relative;
  max-width: 100%;
  height: 400px;
  z-index: -10;
  /* margin-top: -150px; */
  margin-bottom: -200px;

  /* --first: conic-gradient(from 90deg at 80% 50%, #000212, #352a4f);
  --second: conic-gradient(from 270deg at 20% 50%, #463077, #000212); */

  background: conic-gradient(
      from 90deg at var(--first-gradient-start) 50%,
      #000,
      #1f3140
    ),
    conic-gradient(
      from 270deg at var(--second-gradient-start) 50%,
      #1f3140,
      #000
    );

  -webkit-mask-image: radial-gradient(
    100% 50% at center center,
    black,
    transparent
  );

  background-position-x: 1%, 99%;
  background-position-y: 0%, 0%;
  background-size: 50% 100%, 50% 100%;
  transform-origin: center center;
  background-repeat: no-repeat;

  transform: rotate(180deg) translateZ(0px);
  opacity: 0.4;

  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 1000ms;
}

.devops-lightbar.visible {
  opacity: 1;
  transform-origin: center center;
  transform: scale(2) rotate(180deg) translateZ(0px);
}

.devops-lightbar::after {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 0.1;
  -webkit-mask-image: radial-gradient(
    140px 50% at 50% 100%,
    black,
    transparent
  );
}

.devops-main {
  padding-top: 180px;
  position: relative;

  height: max-content;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

.devops-main::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    rgba(0, 224, 244, 0.1),
    transparent
  );
  opacity: 0;
  transition: opacity 1s ease;
}

.devops-main.visible::before {
  opacity: 1;
}

.devops-main::after {
  content: '';
  z-index: -1;
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 0%;
  overflow: hidden;
  opacity: 0;
  -webkit-mask-image: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    black,
    transparent
  );
  transition: opacity 1s ease;
}

.devops-main.visible::after {
  opacity: 0.1;
}

.devops-tools {
  /* filter: url(#noiseFilter); */
  position: relative;
}

.devops-tile-section {
  position: relative;
  /* max-width: 72rem; */
  /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
}

/* .devops-tile-section::after {
  content: '';
  position: absolute;
  inset: 0px 0px 0%;
  z-index: 100;
  mask: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0)
  );

  transition: -webkit-mask-image 1s ease;
} */

/* .devops-tile-section.visible {
  -webkit-mask-image: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 1)
  );
} */

.devops-heading {
  color: #00e0f4;
  transition: transform 1s ease, filter 1s ease, opacity 1s ease;
  filter: blur(5px);
}

.devops-heading-bottom {
}

.devops-heading.visible {
  opacity: 0.8;
  transform: translateY(0%) !important;
  filter: blur(0px);
}

.devops-card {
  box-shadow: rgba(0, 224, 244, 0.2) 0px 4px 24px 0px;
  transition: box-shadow 0.4s ease;
  border-color: #00e0f43f;
  transform: translateY(30px);
}

.devops-card:hover {
  box-shadow: rgba(0, 224, 244, 0.5) 0px 4px 24px 0px;
}

.devops-card-heading {
  color: #00e0f4;
}

.text {
  /* transition: transform 0.5s ease-out; */
  position: relative;
}

.text.broken-rotating {
  /* animation-name: break;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; */

  animation: break-rotating 0.2s linear infinite, break-flying 1s;

  /* animation: rotate-and-translate 1s linear; */
}

.text.broken-flying {
  /* animation-name: break;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; */

  animation: break-flying 1s;

  /* animation: rotate-and-translate 1s linear; */
}

@keyframes rotate-and-translate {
  0% {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
  25% {
    transform: rotate(90deg) translateY(-50px);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg) translateY(0);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) translateY(5000px);
    opacity: 0;
  }
}

.word-rotating {
  animation: break-rotating, 0.2s infinite;
}

@keyframes break-rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes break-flying {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(200px) translateX(20px);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

/* @keyframes break {
  0% {
    transform: none;
  }
  50% {
    transform: rotate(30deg) scale(1.2);
  }
  100% {
    transform: translateX(100vw) rotate(90deg) scale(1.5);
    opacity: 0;
  }
} */

.dumb {
  color: #09a9b8;
}
