@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* ICOMOON SVG TO FONT CSS FILE START */
@font-face {
  font-family: 'icomoon';
  src: url('./assets/fonts/icomoon.eot?h9wcos');
  src: url('./assets/fonts/icomoon.eot?h9wcos#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/icomoon.ttf?h9wcos') format('truetype'),
    url('./assets/fonts/icomoon.woff?h9wcos') format('woff'),
    url('./assets/fonts/icomoon.svg?h9wcos#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trademark:before {
  content: '\e900';
}
/* ICOMOON SVG TO FONT CSS FILE END */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --first-gradient-start: 80%;
  --second-gradient-start: 20%;
  /* --clr-neon: #7b53d3; */

  /* 303a75 */
}

@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Fira+Code&family=Fira+Mono&family=Fira+Sans&family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@400;600&display=swap');

@media (max-width: 768px) {
  :root {
    --first-gradient-start: 60%;
    --second-gradient-start: 40%;
  }
}

@property --percent1 {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 100%;
}

@property --percent2 {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 10%;
}

@keyframes gradientChange {
  from {
    --percent1: 50%;
    --percent2: 50%;
  }

  to {
    --percent1: 0%;
    --percent2: 0%;
  }
}

.flood-analyzer-text-gradient {
  background: rgb(29, 29, 236);
  background: rgb(29, 29, 236);
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #4141ff 12%,
    #135cebcc 44%,
    rgba(0, 168, 255, 0.9) 79%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* .test-gradient::after {
  content: '';
  z-index: -1;
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 0%;
  opacity: 0.1;
} */

.test-grad-child {
  /* background-image: linear-gradient(
    to bottom right,
    rgba(194, 97, 254, 0.5),
    rgba(194, 97, 254, 0.01)
  ); */
  /* -webkit-mask-image: linear-gradient(
    to bottom right,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0.1)
  ); */
  /* width: 70%;
  height: 85%; */
  /* position: relative; */
}

.test-grad-child::before {
  content: '';
  z-index: -1;
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 0px 0px;

  opacity: 0.15;
}

.test-gradient {
  /* background-image: radial-gradient(
      ellipse 100% 30% at var(--percent1) var(--percent2),
      #f005 -50%,
      transparent
    ),
    radial-gradient(
      ellipse 100% 30% at var(--percent1) calc(100% - var(--percent2)),
      #f005,
      transparent
    ); */
  /* overflow: visible; */
  position: relative;

  /* background-image: radial-gradient(
      ellipse 50% 80% at 50% 20%,
      rgba(198, 119, 119, 1),
      transparent
    ),
    radial-gradient(
      ellipse 50% 80% at 50% 50%,
      rgba(198, 119, 119, 1),
      transparent
    ),
    radial-gradient(
      ellipse 50% 80% at 50% 80%,
      rgba(198, 119, 119, 1),
      transparent
    ); */
  /* background-position: 600px; */
  /* box-shadow: rgba(194, 97, 254) 0px 0px 24px 10px; */
  /* -webkit-mask-image: linear-gradient(
    to right,
    rgb(0 0 0 / 0) 80%,
    rgb(0 0 0 / 1)
  ); */
  /* animation: gradientChange 1s ease infinite alternate; */
  /* background-image: radial-gradient(
    ellipse 50% 80% at 50% 80%,
    rgba(198, 119, 119, 1),
    transparent
  ); */
  /* background-image: linear-gradient(
    to bottom right,
    rgba(194, 97, 254, 0.2),
    rgba(194, 97, 254, 0.01)
  ); */
  --mainAngle: 45deg;
  --angle1: 0deg;
  --angle2: 67.5deg;
  --angle3: 198.75deg;
  --angle4: 251.25deg;
  --angle5: 301.88deg;
  --angle6: 360deg;
  --opacity: 0.25;
}

.test-gradient::before {
  content: '';
  z-index: -1;
  /* filter: url(#noiseFilter); */
  position: absolute;
  inset: 0px 0px 0%;
  background: conic-gradient(
    /* from var(--mainAngle) at 51.63% 52.16%, */ from var(--mainAngle) at
      51.63% 52.16%,
    #2400ff var(--angle1),
    #0087ff var(--angle2),
    #6c279d var(--angle3),
    #1826a3 var(--angle4),
    #3667c4 var(--angle5),
    #691eff var(--angle6)
  );
  filter: blur(160px);

  opacity: var(--opacity);
  /* opacity: 0.6; */
  /* opacity: 0; */

  transition: opacity 1s ease;
}

.letter-lines {
  background-image: linear-gradient(
    0deg,
    transparent 36px,
    var(--line-color) 4px
  );
  background-size: 100% 40px; /* Adjust the size of the lines as needed */
  background-position: center 36px;

  /* background-image: linear-gradient(0deg, rgb(51 65 85 / 1) 0, transparent 4px);
  background-size: 100% 36px; */

  letter-spacing: 0.5px;
  line-height: 40px !important;
  padding-top: 8px;

  position: relative;
}

.letter-lines::after {
  content: '';
  position: absolute;
  inset: 0px 0px 0%;
  z-index: 10000;

  background-image: linear-gradient(
    0deg,
    transparent 36px,
    rgb(255 65 85 / 1) 4px
  );
  background-size: 100% 40px; /* Adjust the size of the lines as needed */
  background-position: center 36px;

  /* background-image: linear-gradient(0deg, rgb(51 65 85 / 1) 0, transparent 4px);
  background-size: 100% 36px; */

  letter-spacing: 0.5px;
  line-height: 40px !important;
  padding-top: 8px;
}

.blob1 {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  /* background-color: rgba(255, 0, 0, 0.603); */
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  animation: blobMorphing 60s ease-in-out infinite;
}

.blob2 {
  position: absolute;
  bottom: -10%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  /* background-color: rgba(255, 0, 0, 0.603); */
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  animation: blobMorphing2 60s ease-in-out infinite;
}

@keyframes blobMorphing {
  /* 0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25% {
    border-radius: 83% 17% 45% 55% / 75% 77% 23% 25%;
  }
  50% {
    border-radius: 83% 17% 45% 55% / 34% 77% 23% 66%;
  }
  75% {
    border-radius: 90% 10% 45% 55% / 75% 5% 95% 25%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  } */
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    top: 20%;
    left: 20%;
    width: 250px;
    height: 250px;
  }
  25% {
    border-radius: 63% 37% 30% 70% / 51% 40% 60% 49%;
    top: 30%;
    left: 50%;
    width: 200px;
    height: 250px;
  }
  50% {
    border-radius: 70% 30% 72% 28% / 42% 41% 59% 58%;
    top: 20%;
    left: 80%;

    width: 250px;
    height: 250px;
  }
  75% {
    border-radius: 84% 16% 68% 32% / 67% 22% 78% 33%;
    top: 60%;
    left: 50%;
    width: 250px;
    height: 200px;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    top: 20%;
    left: 20%;
    width: 250px;
    height: 250px;
  }
}

@keyframes blobMorphing2 {
  /* 0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25% {
    border-radius: 83% 17% 45% 55% / 75% 77% 23% 25%;
  }
  50% {
    border-radius: 83% 17% 45% 55% / 34% 77% 23% 66%;
  }
  75% {
    border-radius: 90% 10% 45% 55% / 75% 5% 95% 25%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  } */
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    bottom: -10%;
    left: 20%;
    /* width: 250px;
    height: 250px; */
  }
  25% {
    border-radius: 63% 37% 30% 70% / 51% 40% 60% 49%;
    bottom: 10%;
    left: 20%;
    /* width: 100px;
    height: 250px; */
  }
  50% {
    border-radius: 70% 30% 72% 28% / 42% 41% 59% 58%;
    bottom: 5%;
    left: 20%;

    /* width: 250px;
    height: 250px; */
  }
  75% {
    border-radius: 84% 16% 68% 32% / 67% 22% 78% 33%;
    bottom: 0%;
    left: 80%;
    /* width: 250px;
    height: 100px; */
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    bottom: -10%;
    left: 20%;
    /* width: 250px;
    height: 250px; */
  }
}

.wrapper {
}

.wrapper .iframe iframe {
  width: 1536px;
  height: 753px;
}

.hero-text-container {
  transform-style: preserve-3d;
  transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
  /* transition: transform 200ms ease-out; */
}

.something {
  background-size: 300%;
  animation: bg-animation 25s infinite;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */

  font-family: 'Inter', sans-serif, 'Poppins', sans-serif, 'Commissioner',
    sans-serif, 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* #181622  */
  /* background: linear-gradient(to right top, #111018 60%, #060c8c 150%); */
  /* background: linear-gradient(to right top, #111018 60%, #090d5e 150%);

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */

  /* background-color: #111018; */

  background-color: black;

  /* background-color: #000000; */
  /* scroll-behavior: smooth; */
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: rgb(63 63 70);
  border-radius: 4px;
}

.scroll-span {
  transform: translateY(-8px);
  animation: scroll-prompt 2s linear infinite;
}

@keyframes scroll-prompt {
  0% {
    transform: translateY(-8px);
    opacity: 0;
  }

  30% {
    transform: translateY(-8px);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}

/* #root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main-container {
  width: 100vw; 
  height: 100vh; 
  overflow-y: scroll; 
}

#main-container::-webkit-scrollbar {
  width: 8px; 
  background: transparent; 
}

#main-container::-webkit-scrollbar-thumb {
  background: rgb(63 63 70); 
  border-radius: 4px; 
} */

/* body::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
}

body::-webkit-scrollbar-thumb {
  background-color: #1f2937;
  border-radius: 100vw;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.laptop {
  /* display: flex; */
  /* background-color: red; */
  /* height: 960px; */
  z-index: 200000000000000000;
  position: relative;
}

.laptop iframe {
  /* width: 1536px;
  height: 753px; */
  width: 1596px;
  /* height: 753px; */
  aspect-ratio: 2.0398406374501992031872509960159;
  border: none;
  /* border-radius: 20px; */
  opacity: 1;
}
.laptop p {
  color: white;
  opacity: 1;
}

.laptop .maintenance {
  /* width: 1536px;
  height: 753px; */
  width: 1596px;
  /* height: 753px; */
  aspect-ratio: 2.0398406374501992031872509960159;
  border: none;
  /* border-radius: 20px; */
  opacity: 1;
}

.brand {
  box-shadow: rgba(23, 92, 230, 0.6) 0px 0px 48px 0px;
}

/* .brand::before {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.1;
} */

.navbar {
  background-color: rgb(255 0 0 / 0);
  /* padding-top: 20px; */
  /* transform: translateY(20px); */
  /* margin-top: 20px; */
  /* border-bottom-width: 1px;
  border-color: transparent; */
  transition: background-color 0.3s ease, border-color 0.3s ease, transform,
    0.3s ease, margin-top 0.3s ease;
}

.navbar.sticking {
  /* background-color: rgb(0 0 0 / 0.35); */
  /* padding-top: 0; */
  transform: translateY(0);
  /* margin-top: 0; */
  /* border-color: rgb(31 41 55 / 1); */
  /* border-color: rgb(3 7 18 / 1); */
}

.nav-links-container {
  position: relative;
  /* padding: 14px 32px; */
  border-radius: 9999px;
  overflow: hidden;
  box-shadow: rgba(23, 92, 230, 0.3) 0px 4px 24px 0px;
}

.nav-links-container::before {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.1;
}

.nav-links {
  transition: color 500ms ease;
}

.nav-links:hover {
  color: var(--text-color);
}

.nav-links-underline {
  background-color: var(--text-color);
  background: linear-gradient(
    to right,
    transparent,
    var(--text-color),
    transparent
  );
}

.navbar.scrolling-down {
  /* background-color: rgb(0 0 0 / 0.35);
  border-color: rgb(3 7 18 / 1); */
  transform: translateY(-120px);
}

.nav-list {
  font-family: 'Inter', sans-serif, 'Poppins', sans-serif, 'Commissioner',
    sans-serif, 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

  /* font-size: 14px;
  line-height: 1.25rem ; */
}

.svg_1-perspective {
  transform: perspective(20em) rotateY(-10deg) rotateX(20deg);
}

.svg-animation {
  /* color: green; */
  stroke-dasharray: 1045.3275146484375;
  stroke-dashoffset: 1045.3275146484375;
  /* fill: #111018; */
  animation: totalAnimation 5s ease infinite;
}

@keyframes totalAnimation {
  0% {
    stroke-dashoffset: 1045.3275146484375;
    /* fill-opacity: 0; */
    color: #e2e8f000;
  }

  20% {
    stroke-dashoffset: 0;
    /* color-opacity: 0; */
    color: #e2e8f000;
  }

  50% {
    stroke-dashoffset: 0;
    /* color-opacity: 100; */
    color: #e2e8f0;
  }

  80% {
    stroke-dashoffset: 0;
    /* color-opacity: 0; */
    color: #e2e8f000;
  }

  100% {
    stroke-dashoffset: 1045.3275146484375;
    /* fill-opacity: 0; */
    color: #e2e8f000;
  }
}

@keyframes fillAnimation {
  0% {
    fill: none;
  }
  100% {
    fill: currentColor;
  }
}

.blinking-cursor {
  position: relative;
}

.blinking-cursor:after {
  /* --cursor-color: #c261fe; */
  content: '_';
  color: var(--cursor-color);
  position: absolute;
  right: -10px;
}

.blinking-cursor.blinking:after {
  animation: blink 0.5s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.shadow-button {
  /* box-shadow: rgba(14, 82, 241, 0.5) 0px 2px 40px -4px; */
  box-shadow: rgba(14, 82, 241, 0.433) 0px 1.0656px 21px;
  transition: box-shadow 0.5s ease, background-color 0.5s ease;
}

/* maybe get rid of box-shadow transition to better performance */
.shadow-button:hover {
  box-shadow: rgba(14, 82, 241, 1) 0px 2px 40px -4px;
}

.neon-button {
  font-family: 'Inter', sans-serif, 'Poppins', sans-serif, 'Commissioner',
    sans-serif, 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  /* font-size: 0.875rem; */
  /* font-weight: 600; */

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  /* color: #0466c8; */
  border: var(--clr-neon) 0.125em solid;
  /* padding: 0.35em 1em; */
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: var(--clr-neon);
  top: 90%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(3.5em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: var(--opacity-before);
}

.neon-button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms ease-out;
}

.neon-button:hover {
  /* color: rgb(148 163 184); */
  text-shadow: none;
}

.neon-button:hover::before {
  opacity: var(--opacity-shadow);
}
.neon-button:hover::after {
  opacity: 1;
}

.processing-svg {
  animation: processing 1000ms linear infinite;
}

@keyframes processing {
  to {
    transform: rotate(-360deg);
  }
}

.rising-icon {
  /* position: relative; */
  cursor: pointer;
  animation-iteration-count: 1 !important;
}

/* .rising-icon::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
} */

/* .rising-text {
  --text-color: red;
  position: relative;
  cursor: pointer;
}

.rising-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;

  color: var(--text-color);

  opacity: 0;
}

.rising-text:hover {
  color: var(--text-color);
}

.rising-text:hover::after {
  animation: text-rises 1s ease-out forwards;
} */

@keyframes text-rises {
  0% {
    opacity: 0.7;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.neon-text {
  font-size: 4rem;
  cursor: pointer;
  /* padding: 0 20px; */
  position: relative;
  color: #00e0f4;
  /* text-shadow: 0 0 0.1em rgb(194, 97, 254); */
}

.neon-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  /* padding: 0 20px; */
  z-index: -1;
  color: rgb(194 97 254 / 0.5);
  filter: blur(15px);
  opacity: 1;
  transition: opacity ease 300ms;
}

.neon-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 97, 254, 0.5);
  opacity: 0;
  filter: blur(15px);
  transition: opacity ease 300ms;
}

.neon-text:hover {
  color: rgb(194, 97, 254);
  text-shadow: 0 0 0.25em rgb(194, 97, 254);
}

.neon-text:hover::after,
.neon-text:hover::before {
  opacity: 1;
}

.card-text {
  position: relative;
}

.card-text::before,
.card-text::after {
  content: attr(data-name);
  color: rgb(161, 160, 171);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
}

.card-text::before {
  -webkit-clip-path: polygon(55% 0, 0 0, 0 100%, 35% 100%);
  clip-path: polygon(55% 0, 0 0, 0 100%, 35% 100%);
  /* background: red; */
}

.card-text::after {
  -webkit-clip-path: polygon(55% 0, 100% 0, 100% 100%, 35% 100%);
  clip-path: polygon(55% 0, 100% 0, 100% 100%, 35% 100%);
  /* background: blue; */
}

.card-text.broken::before {
  top: -3px;
  left: -7px;
  transform: rotate(-3deg);
}

.card-text.broken::after {
  top: 3px;
  left: 7px;
  transform: rotate(3deg);
}

.card-shadow {
  box-shadow: rgba(23, 92, 230, 0.2) 0px 4px 24px 0px;
}

.card-shadow:hover {
  box-shadow: rgba(23, 92, 230, 0.5) 0px 4px 24px 0px;
}

.toolset-text-gradient {
  background: rgb(241, 245, 249);
  background: linear-gradient(
    90deg,
    rgba(241, 245, 249, 1) 0%,
    rgba(203, 213, 225, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.my-element {
  --first: conic-gradient(from 90deg at 80% 50%, #000212, #c261fe);
  --second: conic-gradient(from 270deg at 20% 50%, #c261fe, #000212);
  background: var(--first), var(--second);

  transform: translateY(-200px) rotate(180deg) scale(0.5) translateZ(0px);
}

.light-bar-left {
  opacity: 0.4;

  width: 50%;
  height: 400px;
  --first: conic-gradient(from 90deg at 80% 50%, #000212, #c261fe);
  --second: conic-gradient(from 270deg at 20% 50%, #c261fe, #000212);
  background: var(--first), var(--second);

  transform: rotate(180deg) translateZ(0px);
}

.light-bar-right {
  opacity: 0.4;
  width: 100%;
  height: 400px;
  --first: conic-gradient(from 90deg at 80% 50%, #000212, #c261fe);
  --second: conic-gradient(from 270deg at 20% 50%, #c261fe, #000212);
  background: conic-gradient(from 90deg at 80% 50%, #000212, #c261fe) no-repeat
      border-box,
    conic-gradient(from 270deg at 20% 50%, #c261fe, #000212) no-repeat
      border-box;

  transform: rotate(180deg) translateZ(0px);
}

.test-conic {
  width: 100%;
  height: 400px;
  z-index: -1;
  margin-top: -150px;
  margin-bottom: -100px;
  /* background: conic-gradient(from 90deg, red, blue) no-repeat,
    conic-gradient(from 270deg, red, blue) no-repeat; */
  /* background-size: 50% 100%, 50% 100%;
  background-position: 0 0, 50% 0; */

  --first: conic-gradient(from 90deg at 80% 50%, #000212, #c261fe);
  --second: conic-gradient(from 270deg at 20% 50%, #c261fe, #000212);
  background: conic-gradient(from 90deg at 80% 50%, #000212, #352a4f) no-repeat
      border-box,
    conic-gradient(from 270deg at 20% 50%, #352a4f, #000212) no-repeat
      border-box;

  /* -webkit-mask-image: radial-gradient(
    100% 50% at center center,
    black,
    transparent
  ); */

  mask-image: radial-gradient(100% 50% at center center, black, transparent);

  background-position-x: 1%, 99%;
  background-position-y: 0%, 0%;
  background-size: 50% 100%, 50% 100%;
  transform-origin: center center;
  background-repeat: no-repeat;

  transform: rotate(180deg) translateZ(0px);
  opacity: 0.4;

  /* background: conic-gradient(from 90deg, red, blue); */
  /* background: conic-gradient(
    from 90deg at 80% 50%,
    var(#000212) 0%,
    var(#c261fe) 50%,
    var(#000212) 100%,
    from 270deg at 20% 50%,
    var(#c261fe) 0%,
    var(#000212) 50%,
    var(#c261fe) 100%
  ); */
}

.test-conic.some-other-class {
  /* opacity: 1;
  transform-origin: center center;
  transform: scale(2) rotate(180deg) translateZ(0px); */
}

.frontend-lightbar {
  position: relative;
  max-width: 100%;
  height: 400px;
  margin-bottom: -200px;

  --first: conic-gradient(from 90deg at 80% 50%, #000212, #352a4f);
  --second: conic-gradient(from 270deg at 20% 50%, #463077, #000212);
  background: conic-gradient(
      from 90deg at var(--first-gradient-start) 50%,
      #000212,
      /* #463077 */ #352a4f
    ),
    conic-gradient(
      from 270deg at var(--second-gradient-start) 50%,
      /* #463077, */ #352a4f,
      #000212
    );

  -webkit-mask-image: radial-gradient(
    100% 50% at center center,
    black,
    transparent
  );

  background-position-x: 1%, 99%;
  background-position-y: 0%, 0%;
  background-size: 50% 100%, 50% 100%;
  transform-origin: center center;
  background-repeat: no-repeat;

  transform: rotate(180deg) translateZ(0px);
  opacity: 0.4;

  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 1000ms;
}

.frontend-lightbar.visible {
  opacity: 1;
  transform-origin: center center;
  transform: scale(2) rotate(180deg) translateZ(0px);
}

.frontend-lightbar::after {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 0.1;
  -webkit-mask-image: radial-gradient(
    140px 50% at 50% 100%,
    black,
    transparent
  );
}

.frontend-main {
  /* margin-bottom: 300px; */
  padding-top: 180px;
  position: relative;

  height: max-content;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
  /* background-color: red; */
}

.frontend-main::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    rgba(194, 97, 254, 0.2),
    transparent
  );
  opacity: 0;
  transition: opacity 1s ease;
}

.frontend-main.visible::before {
  opacity: 1;
}

.frontend-main::after {
  content: '';
  z-index: -1;
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 0%;
  overflow: hidden;
  opacity: 0;
  -webkit-mask-image: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    black,
    transparent
  );
  transition: opacity 1s ease;
}

.frontend-main.visible::after {
  opacity: 0.1;
}

/* .frontend-main::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    rgba(17, 16, 24, 1),
    rgba(17, 16, 24, 0.9)
  );
  opacity: 1;
  transition: opacity 1s ease;
}

.frontend-main.visible::before {
  opacity: 1;
} */

/* .frontend-main::after {
  content: '';
  z-index: -1;
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 0%;
  overflow: hidden;
  opacity: 0;
  -webkit-mask-image: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    black,
    transparent
  );
  transition: opacity 1s ease;
}

.frontend-main.visible::after {
  opacity: 0.1;
} */

.frontend-content {
  /* padding-top: 0;
  transition: padding 1s ease; */
  /* margin-top: 40px; */
}

/* .frontend-content.visible {
  padding-top: 64px;
} */

.frontend-tools {
  /* filter: url(#noiseFilter); */
  position: relative;
}

.frontend-tile-section {
  position: relative;

  /* max-width: 56rem; */
  /* grid-template-columns: repeat(4, minmax(0, 1fr)); */
  /* max-width: 72rem; */
  /* grid-template-columns: repeat(6, minmax(0, 1fr)); */

  /* -webkit-mask-image: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0)
  );
  
  transition: mask-image 1s ease; */

  /* mask: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0)
  ); */
}

/* .frontend-tile-section::after {
  content: '';
  position: absolute;
  inset: 0px 0px 0%;
  z-index: 100;
  mask: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0)
  );

  transition: -webkit-mask-image 1s ease;
} */

/* .frontend-tile-section.visible {
  -webkit-mask-image: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 1)
  );
} */

.frontend-heading {
  color: #c262fe;
  /* color: #a78bfa; */

  transition: transform 1s ease, filter 1s ease, opacity 1s ease;
  filter: blur(5px);
}

.frontend-heading-bottom {
}

.frontend-heading.visible {
  opacity: 0.8;
  transform: translateY(0%) !important;
  filter: blur(0px);
}

/* .frontend-card {
  --step: 5%;
  --bg-y: 62%;
  --bg-x: 60%;
  --m-x: 92%;
  --m-y: 88%;
  box-shadow: rgba(194, 97, 254, 0.2) 0px 4px 24px 0px;
  transition: box-shadow 0.4s ease;
  border-color: #8643b088;
  filter: blur(0px);
  transform-style: preserve-3d;
  perspective: 1000px;

  background: repeating-linear-gradient(
      0deg,
      rgb(255, 119, 115) calc(var(--step) * 1),
      rgba(255, 237, 95, 1) calc(var(--step) * 2),
      rgba(168, 255, 95, 1) calc(var(--step) * 3),
      rgba(131, 255, 247, 1) calc(var(--step) * 4),
      rgba(120, 148, 255, 1) calc(var(--step) * 5),
      rgb(216, 117, 255) calc(var(--step) * 6),
      rgb(255, 119, 115) calc(var(--step) * 7)
    )
    0% var(--bg-y) / 200% 700%;

  background: repeating-linear-gradient(
      128deg,
      #0e152e 0%,
      hsl(180, 10%, 60%) 3.8%,
      hsl(180, 10%, 60%) 4.5%,
      hsl(180, 10%, 60%) 5.2%,
      #0e152e 10%,
      #0e152e 12%
    )
    var(--bg-x) var(--bg-y) / 300%;

  background: radial-gradient(
      farthest-corner circle at var(--m-x) var(--m-y),
      rgba(255, 255, 255, 0.1) 12%,
      rgba(255, 255, 255, 0.15) 20%,
      rgba(255, 255, 255, 0.25) 120%
    )
    var(--bg-x) var(--bg-y) / 300%;

  background: repeating-linear-gradient(
        0deg,
        rgb(255, 119, 115) calc(var(--step) * 1),
        rgba(255, 237, 95, 1) calc(var(--step) * 2),
        rgba(168, 255, 95, 1) calc(var(--step) * 3),
        rgba(131, 255, 247, 1) calc(var(--step) * 4),
        rgba(120, 148, 255, 1) calc(var(--step) * 5),
        rgb(216, 117, 255) calc(var(--step) * 6),
        rgb(255, 119, 115) calc(var(--step) * 7)
      )
      0% var(--bg-y) / 200% 700%,
    repeating-linear-gradient(
        128deg,
        #0e152e 0%,
        hsl(180, 10%, 60%) 3.8%,
        hsl(180, 10%, 60%) 4.5%,
        hsl(180, 10%, 60%) 5.2%,
        #0e152e 10%,
        #0e152e 12%
      )
      var(--bg-x) var(--bg-y) / 300%,
    radial-gradient(
        farthest-corner circle at var(--m-x) var(--m-y),
        rgba(255, 255, 255, 0.1) 12%,
        rgba(255, 255, 255, 0.15) 20%,
        rgba(255, 255, 255, 0.25) 120%
      )
      var(--bg-x) var(--bg-y) / 300%;

  background-blend-mode: hue, hue, hard-light, overlay;
} */

.frontend-card {
  --index: 0;
  --start: 0;
  --end: 0;
  --step: 5%;
  --bg-y: 62%;
  --bg-x: 60%;
  --m-x: 92%;
  --m-y: 88%;
  /* box-shadow: rgba(194, 97, 254, 0.2) 0px 4px 10px 0px; */
  /* box-shadow: rgba(194, 97, 254, 0.1) 0px 0px 5px 3px; */
  /* box-shadow: rgba(194, 97, 254, 1.1) -10px 0px 0px 3px; */
  transition: box-shadow 0.5s ease, border-color 0.5s ease, width 0.5s ease,
    height 0.5s ease;
  /* border-color: #8643b088; */
  border-color: transparent;

  /* background-color: rgba(255, 0, 0, calc(var(--index) / 13)); */

  /* grid-column: calc((var(--index) * 2) - 1) / calc((var(--index) * 2) + 1); */

  /* grid-column: var(--start) / var(--end); */

  filter: blur(0px);
  /* transform-style: preserve-3d;
  perspective: 1000px; */
  transform: translateY(30px);
}

.frontend-card:hover {
  /* box-shadow: rgba(194, 97, 254, 0.5) 0px 4px 24px 0px; */
  box-shadow: rgba(194, 97, 254, 0.25) 0px 0px 24px 0px;
  border-color: #8643b088;

  /* transform: scale(1.2); */
}

.js-tilt-glare {
  /* background-color: rgba(194, 97, 254, 0.1); */
}

.frontend-card > * {
  /* transform: translateZ(50px); */
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px black;
}

.frontend-card-heading {
  color: #ac55e0;
}

.frontend-canvas-gradient {
  /* background: rgb(194, 97, 254); */
  /* background: radial-gradient(
    at top left,
    rgba(194, 97, 254, 0.2) 0%,
    rgba(194, 97, 254, 0) 60%
  );
  background-position: -100% 0; */
}

/* .frontend-tools::after {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 1;
} */

/* .frontend-main::after {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 1;
  -webkit-mask-image: radial-gradient(
    140px 50% at 50% 100%,
    black,
    transparent
  );
} */

/* .frontend-main::before {
  content: '';
  background: #f00;
  filter: url(#noiseFilter);
} */

/* .frontend-main::after {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 0.1;
  -webkit-mask-image: radial-gradient(
    140px 50% at 50% 100%,
    black,
    transparent
  );
} */

.backend-lightbar {
  position: relative;
  max-width: 100%;
  height: 400px;
  z-index: -10;
  /* margin-top: -150px; */
  margin-bottom: -200px;

  --first: conic-gradient(from 90deg at 80% 50%, #000212, #352a4f);
  --second: conic-gradient(from 270deg at 20% 50%, #463077, #000212);
  background: conic-gradient(
      from 90deg at var(--first-gradient-start) 50%,
      #000212,
      #303a75
    ),
    conic-gradient(
      from 270deg at var(--second-gradient-start) 50%,
      #303a75,
      #000212
    );

  -webkit-mask-image: radial-gradient(
    100% 50% at center center,
    black,
    transparent
  );

  background-position-x: 1%, 99%;
  background-position-y: 0%, 0%;
  background-size: 50% 100%, 50% 100%;
  transform-origin: center center;
  background-repeat: no-repeat;

  transform: rotate(180deg) translateZ(0px);
  opacity: 0.4;

  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 1000ms;
}

.backend-lightbar.visible {
  opacity: 1;
  transform-origin: center center;
  transform: scale(2) rotate(180deg) translateZ(0px);
}

/* .backend-lightbar::after {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 0.1;
  -webkit-mask-image: radial-gradient(
    140px 50% at 50% 100%,
    black,
    transparent
  );
} */

.backend-main {
  padding-top: 180px;
  position: relative;

  height: max-content;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

.backend-main::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    rgba(40, 87, 255, 0.1),
    transparent
  );
  /* -webkit-mask-image: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    rgba(0, 0, 0, 0.1),
    transparent
  ); */
  opacity: 0;
  transition: opacity 1s ease;
}

.backend-main.visible::before {
  opacity: 1;
}

/* .backend-main::after {
  content: '';
  z-index: -1;
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 0%;
  overflow: hidden;
  opacity: 0.1;
  -webkit-mask-image: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    black,
    transparent
  );
  transition: opacity 1s ease;
}

.backend-main.visible::after {
  opacity: 0.1;
} */

.backend-tools {
  /* filter: url(#noiseFilter); */
  position: relative;
}

.backend-tile-section {
  position: relative;
  /* max-width: 72rem; */
  /* grid-template-columns: repeat(6, minmax(0, 1fr)); */
}

/* .backend-tile-section::after {
  content: '';
  position: absolute;
  inset: 0px 0px 0%;
  z-index: 100;
  mask: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0)
  );

  transition: -webkit-mask-image 1s ease;
} */

/* .backend-tile-section.visible {
  -webkit-mask-image: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 1)
  );
} */

.backend-heading {
  color: #5a82f9;
  transition: transform 1s ease, filter 1s ease, opacity 1s ease;
  filter: blur(5px);
}

.backend-heading-bottom {
}

.backend-heading.visible {
  opacity: 0.8;
  transform: translateY(0%) !important;
  filter: blur(0px);
}

.backend-card {
  /* box-shadow: rgba(90, 131, 249, 0.2) 0px 4px 24px 0px; */
  /* transition: box-shadow 0.4s ease; */
  /* border-color: #5a83f933; */
  transform: translateY(30px);

  border-color: transparent;
  transition: box-shadow 0.5s ease, border-color 0.5s ease, width 0.5s ease,
    height 0.5s ease;
}

.backend-card:hover {
  box-shadow: rgba(90, 131, 249, 0.5) 0px 0px 24px 0px;
  border-color: #5a83f933;
}

.backend-card-heading {
  color: #5a82f9;
  /* color: rgb(40, 87, 255);
  color: rgb(140, 174, 242); */
  /* 90 131 249*/
}

/* devops */

.about-text-gradient {
  background: rgb(90, 130, 249);
  background: radial-gradient(
    ellipse at 50% 0%,
    rgba(80, 120, 239, 1) 20%,
    rgba(100, 116, 139, 0.7) 80%
  );
  background-clip: text;
}

.devops-lightbar {
  position: relative;
  max-width: 100%;
  height: 400px;
  z-index: -10;
  /* margin-top: -150px; */
  margin-bottom: -200px;

  /* --first: conic-gradient(from 90deg at 80% 50%, #000212, #352a4f);
  --second: conic-gradient(from 270deg at 20% 50%, #463077, #000212); */

  background: conic-gradient(
      from 90deg at var(--first-gradient-start) 50%,
      #000,
      #1f3140
    ),
    conic-gradient(
      from 270deg at var(--second-gradient-start) 50%,
      #1f3140,
      #000
    );

  -webkit-mask-image: radial-gradient(
    100% 50% at center center,
    black,
    transparent
  );

  background-position-x: 1%, 99%;
  background-position-y: 0%, 0%;
  background-size: 50% 100%, 50% 100%;
  transform-origin: center center;
  background-repeat: no-repeat;

  transform: rotate(180deg) translateZ(0px);
  opacity: 0.4;

  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 1000ms;
}

.devops-lightbar.visible {
  opacity: 1;
  transform-origin: center center;
  transform: scale(2) rotate(180deg) translateZ(0px);
}

.devops-lightbar::after {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 0.1;
  -webkit-mask-image: radial-gradient(
    140px 50% at 50% 100%,
    black,
    transparent
  );
}

.devops-main {
  padding-top: 180px;
  position: relative;

  height: max-content;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

.devops-main::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    rgba(0, 224, 244, 0.1),
    transparent
  );
  opacity: 0;
  transition: opacity 1s ease;
}

.devops-main.visible::before {
  opacity: 1;
}

.devops-main::after {
  content: '';
  z-index: -1;
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 0%;
  overflow: hidden;
  opacity: 0;
  -webkit-mask-image: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    black,
    transparent
  );
  transition: opacity 1s ease;
}

.devops-main.visible::after {
  opacity: 0.1;
}

.devops-tools {
  /* filter: url(#noiseFilter); */
  position: relative;
}

.devops-tile-section {
  position: relative;
  /* max-width: 72rem; */
  /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
}

/* .devops-tile-section::after {
  content: '';
  position: absolute;
  inset: 0px 0px 0%;
  z-index: 100;
  mask: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0)
  );

  transition: -webkit-mask-image 1s ease;
} */

/* .devops-tile-section.visible {
  -webkit-mask-image: radial-gradient(
    ellipse 100% 100% at 50% -20%,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 1)
  );
} */

.devops-heading {
  color: #00e0f4;
  transition: transform 1s ease, filter 1s ease, opacity 1s ease;
  filter: blur(5px);
}

.devops-heading-bottom {
}

.devops-heading.visible {
  opacity: 0.8;
  transform: translateY(0%) !important;
  filter: blur(0px);
}

.devops-card {
  /* box-shadow: rgba(0, 224, 244, 0.2) 0px 4px 24px 0px; */
  /* transition: box-shadow 0.4s ease; */
  /* border-color: #00e0f43f; */
  transform: translateY(30px);

  border-color: transparent;
  transition: box-shadow 0.5s ease, border-color 0.5s ease, width 0.5s ease,
    height 0.5s ease;
}

.devops-card:hover {
  box-shadow: rgba(0, 224, 244, 0.5) 0px 0px 24px 0px;
  border-color: #00e0f43f;
}

.devops-card-heading {
  color: #00e0f4;
}

.text {
  /* transition: transform 0.5s ease-out; */
  position: relative;
}

.text.broken-rotating {
  /* animation-name: break;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; */

  animation: break-rotating 0.2s linear infinite, break-flying 1s;

  /* animation: rotate-and-translate 1s linear; */
}

.text.broken-flying {
  /* animation-name: break;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; */

  animation: break-flying 1s;

  /* animation: rotate-and-translate 1s linear; */
}

@keyframes rotate-and-translate {
  0% {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
  25% {
    transform: rotate(90deg) translateY(-50px);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg) translateY(0);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) translateY(5000px);
    opacity: 0;
  }
}

.word-rotating {
  animation: break-rotating, 0.2s infinite;
}

@keyframes break-rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes break-flying {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(200px) translateX(20px);
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

/* @keyframes break {
  0% {
    transform: none;
  }
  50% {
    transform: rotate(30deg) scale(1.2);
  }
  100% {
    transform: translateX(100vw) rotate(90deg) scale(1.5);
    opacity: 0;
  }
} */

.dumb {
  color: #09a9b8;
}

/* #031446

*/
.about-lightbar {
  position: relative;
  max-width: 100%;
  height: 400px;
  z-index: -10;
  /* margin-top: -150px; */
  margin-bottom: -200px;

  background: conic-gradient(
      from 90deg at var(--first-gradient-start) 50%,
      #000212,
      #031446
    ),
    conic-gradient(
      from 270deg at var(--second-gradient-start) 50%,
      #031446,
      #000212
    );

  -webkit-mask-image: radial-gradient(
    100% 50% at center center,
    black,
    transparent
  );

  background-position-x: 1%, 99%;
  background-position-y: 0%, 0%;
  background-size: 50% 100%, 50% 100%;
  transform-origin: center center;
  background-repeat: no-repeat;

  transform: rotate(180deg) translateZ(0px);
  opacity: 0.4;

  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 1000ms;
}

.about-lightbar.visible {
  opacity: 1;
  transform-origin: center center;
  transform: scale(2) rotate(180deg) translateZ(0px);
}

/* .about-lightbar::after {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 0.1;
  -webkit-mask-image: radial-gradient(
    140px 50% at 50% 100%,
    black,
    transparent
  );
} */

.about-main {
  padding-top: 180px;
  position: relative;

  height: max-content;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

/* .about-main::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    #a6b8ff40,
    transparent
  );
  opacity: 0;
  transition: opacity 1s ease;
}

.about-main.visible::before {
  opacity: 1;
}

.about-main::after {
  content: '';
  z-index: -1;
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 0%;
  overflow: hidden;
  opacity: 0;
  -webkit-mask-image: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    black,
    transparent
  );
  transition: opacity 1s ease;
}

.about-main.visible::after {
  opacity: 0.1;
} */

.about-heading {
  color: #053477;
  transition: transform 1s ease, filter 1s ease, opacity 1s ease;
  filter: blur(5px);
}

.about-heading.visible {
  opacity: 0.8;
  transform: translateY(0%) !important;
  filter: blur(0px);
}

.about-card {
  /* box-shadow: rgba(90, 131, 249, 0.2) 0px 4px 24px 0px; */
  /* transition: box-shadow 0.4s ease; */
  /* border-color: #5a83f933; */
  transform: translateY(30px);

  border-color: transparent;
  transition: box-shadow 0.5s ease, border-color 0.5s ease, width 0.5s ease,
    height 0.5s ease;
}

.about-gradient {
  background: rgb(194, 97, 254);
  background: radial-gradient(
    ellipse 80% 280% at 50% 0%,
    rgba(194, 97, 254, 0.5) 0%,
    rgba(194, 97, 254, 0) 50%
  );
}

.about-mask {
  /* background: rgb(194, 97, 254);
  background: radial-gradient(
    circle at 50% 0%,
    rgba(194, 97, 254, 0.5) 0%,
    rgba(194, 97, 254, 0) 50%
  ); */

  /* -webkit-mask-image: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    black,
    transparent
  ); */

  -webkit-mask-image: radial-gradient(
    ellipse 80% 150% at 50% 0%,
    black,
    rgb(0 0 0 / 0.2)
  );
}

/* .about-mask::after {
  content: '';
  z-index: -1;
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 0%;
  opacity: 0.3;
} */

.services-lightbar {
  position: relative;
  max-width: 100%;
  height: 400px;
  z-index: -10;
  /* margin-top: -150px; */
  margin-bottom: -200px;

  background: conic-gradient(
      from 90deg at var(--first-gradient-start) 50%,
      #000212,
      #031446
    ),
    conic-gradient(
      from 270deg at var(--second-gradient-start) 50%,
      #031446,
      #000212
    );

  -webkit-mask-image: radial-gradient(
    100% 50% at center center,
    black,
    transparent
  );

  background-position-x: 1%, 99%;
  background-position-y: 0%, 0%;
  background-size: 50% 100%, 50% 100%;
  transform-origin: center center;
  background-repeat: no-repeat;

  transform: rotate(180deg) translateZ(0px);
  opacity: 0.4;

  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 1000ms;
}

.services-lightbar.visible {
  opacity: 1;
  transform-origin: center center;
  transform: scale(2) rotate(180deg) translateZ(0px);
}

/* .services-lightbar::after {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 0.1;
  -webkit-mask-image: radial-gradient(
    140px 50% at 50% 100%,
    black,
    transparent
  );
} */

.services-main {
  padding-top: 180px;
  position: relative;

  height: max-content;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}

/* .services-main::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    #a6b8ff40,
    transparent
  );
  opacity: 0;
  transition: opacity 1s ease;
}

.services-main.visible::before {
  opacity: 1;
}

.services-main::after {
  content: '';
  z-index: -1;
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 0%;
  overflow: hidden;
  opacity: 0;
  -webkit-mask-image: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    black,
    transparent
  );
  transition: opacity 1s ease;
}

.services-main.visible::after {
  opacity: 0.1;
} */

.services-heading {
  /* color: #053477; */
  color: #5a82f9;
  /* color: #8caef2; */
  /* color: #306ee8; */
  transition: transform 1s ease, filter 1s ease, opacity 1s ease;
  filter: blur(5px);
}

.services-heading.visible {
  opacity: 0.8;
  transform: translateY(0%) !important;
  filter: blur(0px);
}

.services-grid {
}

.services-card {
  /* box-shadow: rgba(90, 131, 249, 0.2) 0px 4px 24px 0px; */
  /* transition: box-shadow 0.4s ease; */
  /* border-color: #5a83f933; */

  /* box-shadow: #306ee855 0px 0px 12px 0px; */

  transform: translateY(30px);

  border-color: transparent;

  transition: box-shadow 0.5s ease;

  position: relative;
  overflow: hidden;
}

.services-card:hover {
  box-shadow: #306ee8 0px 0px 24px 0px;
  /* border-color: #5a83f933; */
}

/* .services-card:hover {
  background-attachment: fixed;
  background-image: radial-gradient(
    200px circle at var(--mouse-x) var(--mouse-y),
    #05347788,
    transparent
  );
} */

/* .services-card::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: radial-gradient(
    200px circle at var(--mouse-x) var(--mouse-y),
    #05347788,
    transparent
  );
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms;
} */

.services-card:hover::before {
  opacity: 1;
}

/* .services-card-content::after {
  content: '';
  position: absolute;
  inset: 0px;
  z-index: 1;
  border-radius: inherit;
  filter: url(#noiseFilter);
  opacity: 1;
} */

.services-card-filter {
  filter: url(#noiseFilter);
  opacity: 0.15;
  border-radius: inherit;
}

.services-card-content {
  /* z-index: 10; */
  border-radius: inherit;
}

.services-gradient {
  background: rgb(194, 97, 254);
  background: radial-gradient(
    ellipse 80% 280% at 50% 0%,
    rgba(194, 97, 254, 0.5) 0%,
    rgba(194, 97, 254, 0) 50%
  );
}

.services-mask {
  /* background: rgb(194, 97, 254);
  background: radial-gradient(
    circle at 50% 0%,
    rgba(194, 97, 254, 0.5) 0%,
    rgba(194, 97, 254, 0) 50%
  ); */

  /* -webkit-mask-image: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    black,
    transparent
  ); */

  -webkit-mask-image: radial-gradient(
    ellipse 80% 150% at 50% 0%,
    black,
    rgb(0 0 0 / 0.2)
  );
}

/* .services-mask::after {
  content: '';
  z-index: -1;
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 0%;
  opacity: 0.3;
} */

.projects-lightbar {
  position: relative;
  max-width: 100%;
  height: 400px;
  margin-bottom: -200px;

  --first: conic-gradient(from 90deg at 80% 50%, #000212, #352a4f);
  --second: conic-gradient(from 270deg at 20% 50%, #463077, #000212);
  background: conic-gradient(
      from 90deg at var(--first-gradient-start) 50%,
      #000212,
      #031446
    ),
    conic-gradient(
      from 270deg at var(--second-gradient-start) 50%,
      #031446,
      #000212
    );

  -webkit-mask-image: radial-gradient(
    100% 50% at center center,
    black,
    transparent
  );

  background-position-x: 1%, 99%;
  background-position-y: 0%, 0%;
  background-size: 50% 100%, 50% 100%;
  transform-origin: center center;
  background-repeat: no-repeat;

  transform: rotate(180deg) translateZ(0px);
  opacity: 0.4;

  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 1000ms;
}

.projects-lightbar.visible {
  opacity: 1;
  transform-origin: center center;
  transform: scale(2) rotate(180deg) translateZ(0px);
}

.projects-lightbar::after {
  content: '';
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 50%;
  overflow: hidden;
  opacity: 0.1;
  -webkit-mask-image: radial-gradient(
    140px 50% at 50% 100%,
    black,
    transparent
  );
}

.projects-main {
  /* margin-bottom: 300px; */
  padding-top: 180px;
  position: relative;

  height: max-content;
  position: relative;
  max-width: 100vw;
  overflow: hidden;
  /* background-color: red; */
}

/* .projects-main::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    rgba(194, 97, 254, 0.2),
    transparent
  );
  opacity: 0;
  transition: opacity 1s ease;
}

.projects-main.visible::before {
  opacity: 1;
}

.projects-main::after {
  content: '';
  z-index: -1;
  filter: url(#noiseFilter);
  position: absolute;
  inset: 0px 0px 0%;
  overflow: hidden;
  opacity: 0;
  -webkit-mask-image: radial-gradient(
    ellipse 100% 40% at 50% 60%,
    black,
    transparent
  );
  transition: opacity 1s ease;
} */

.projects-heading {
  color: #c262fe;
  /* color: #a78bfa; */

  transition: transform 1s ease, filter 1s ease, opacity 1s ease;
  filter: blur(5px);
}

.projects-heading.visible {
  opacity: 0.8;
  transform: translateY(0%) !important;
  filter: blur(0px);
}
